<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-store"></i> DiegoStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" >Inicio </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" >Productos </a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" >
            <a class="nav-link" routerLink="/login" >Entrar</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" >Cerrar Sesion</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-link">Resgistrarse</a>
        </li>
      </ul>
    </div>
  </nav>