.form-control{
    min-height: 3.125rem;
    line-height: initial;
}

.img-1{
    background-image: url('../../../assets/img/puerta.jpg');
    background-size: cover;
    background-position: center;
}
