.derecha{
    background-color: #2FABE1;
    position: absolute;
    width: 45%;
    height: 100%;
    left: 751px;
    top: 0;
    right: 0px;
}

.imagen{
    position: absolute;
    width: 596px;
    height: 624px;
    margin-left: 10px;
    display: block;
    top: 20px;
    border-radius: 19px;
}

.izquierda{
    position: absolute;
    width: 55%;
}

.titulo{
    position: absolute;
    /*top: 100px;*/
    left: 130px;
    text-transform: capitalize;
    font-size: 40px;
}

#group{
    position: absolute;
    margin-top: 20px;
}

#boton{
    padding: 10px;
    border: none;
    border-radius: 30px;
    left: 20px;
    background-color: #2FABE1;
}


#buttom-group1{
    left: 130px;
}
#buttom-group2{
    left: 70px;
}
