<br>
<div class="container bg-primary rounded-lg h-100">
    <div class="row justify-content-center align-items-center">
        <!-- div izquierdo -->
        <div class="col-6 align-items-center">
            <div class="container py-5 px-5 m-5">
                <div class="card border-primary" style="max-width: 300px;">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <div class="align-items-center">
                            <div class="form-group">
                                <label>Correo</label>
                                <input type="text" class="form-control" #correouser >
                            </div>
                            <div class="form-group">
                                <label>contraseña</label>
                                <input type="password" class="form-control" #contrauser >
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary" (click)="authservice.sesion(correouser.value, contrauser.value)">Ingresar</button>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" (click)="authservice.sesionGoogle()">Ingresar con Google <i class="fab fa-google"></i></button>    
                        </div>
                    </div>
                    <div class="card-footer bg-transparent text-center border-primary">
                        <a routerLink="/registry" class="px-3 text-decoration-none">No tienes cuenta? Registrate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin div izquierdo -->
        <div class="col-6" style="height: 110%;">
            <div class="text-center">
                <img [src]="'assets/img/carrito.jpg'" class="rounded-lg" style="height: 90%; width: 60%;" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
